@using ts.ictu;
@{
    var db = DB.Entities;
    var lstnew = db.Post.Where(m => m.Status == (int)PostStatus.Enabled).OrderByDescending(m => m.ID).ToList();
}
<div class="imgbanner">
    <a href="@Url.Action("DangKy", "LearningRegister")"><img src="/ContentFront/img/dangki.png"></a>
</div>
<div class="imgbanner">
    <img src="/ContentFront/img/hotline.gif">
</div>
<div class="related-news bg-news related-news-top">
    <h3  style="background-color: #b00600;">Các tin mới nhất</h3>
    <ul>
        @foreach (var item in lstnew)
        {
            if (string.IsNullOrEmpty(item.ImageUrl))
            {
            <li class="item small clearfix">
                <div class="postcontent100">
                    <div class="subtitle fl">
                    </div>
                    <h4 class="title">
                        <a href="@Url.Action("Details", "Post", new { id = Common.CreateURLParam(item.ID, item.Title) })">@item.Title</a></h4>
                </div>
            </li>
            }
            else
            {
            <li class="item small clearfix">
                <div class="img-new">
                    <a title="@item.Title" href="@Url.Action("Details", "Post", new { id = Common.CreateURLParam(item.ID, item.Title) })">
                        <img class="avatar" title="@item.Title" alt="@item.Title" src="@item.ImageUrl">
                        <span class="icon"></span></a>
                </div>
                <div class="postcontent">
                    <div class="subtitle fl">
                    </div>
                    <h4 class="title">
                        <a href="@Url.Action("Details", "Post", new { id = Common.CreateURLParam(item.ID, item.Title) })">@item.Title</a></h4>
                </div>
            </li>
            }
        }
    </ul>
</div>
<div class="related-news bg-news related-news-top">
    <h3  style="background-color: #b00600;">Các đối tác</h3>
    @Html.Action("GetContent", "HtmlPage", new { id = "cac-doi-tac" })
</div>