@{
    var db = ts.ictu.DB.Entities;
    var lstCate = db.Cate.ToList();
}
<div id="AjaxPaging">
    @using Webdiyer.WebControls.Mvc
    @model PagedList<ts.ictu.Post>
    <script type="text/javascript">
        $(document).ready(function () {
            ajaxPagingByID("AjaxPaging");
        });
    </script>
    <table class="table">
        <tr>
            <th>
                Ngày đăng
            </th>
            <th>
                Tiêu đề
            </th>
            <th>
                Kênh tin
            </th>
            <th>
                Là tin nổi bật
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Hành động
            </th>
        </tr>
        @foreach (var item in Model)
        {
            var cate = lstCate.FirstOrDefault(m => m.ID == item.CateID);
            <tr>
                <td>
                    @(item.Created.ToString("dd/MM/yyyy"))
                </td>
                <td>
                    @Html.ActionLink(item.Title, "Details", new { id = ts.ictu.Common.CreateURLParam(item.ID, item.Title) })
                </td>
                <td>
                    @(cate == null ? null : cate.Title)
                </td>
                <td>
                    <a href="#" class="IsNoiBat" getID="@item.ID">
                        @if (item.Hot == true)
                        { <span>Tin nổi bật</span>}
                        else
                        {<span class='validation-summary-errors'>Tin thường</span>}</a>
                </td>
                <td>
                    <a href="#" class="DoEnable" getID="@item.ID">
                        @if (item.Status == 2)
                        { <span>Đã đăng</span>}
                        else
                        {<span class='validation-summary-errors'>Chờ đăng</span>}</a>
                </td>
                <td>
                    @Html.ActionLink("Sửa", "AdminEdit", new { id = item.ID }) | 
                    @Html.ActionLink("Xóa", "SetDeleted", new { id = item.ID }, new { @class = "confirmDelete" })
                </td>
            </tr>
        }
    </table>
    <div class="row-fluid">
        <div class="span4">
            <div class="dataTables_info">
                @if (Model.TotalItemCount > 0)
                {
                    if (Model.TotalItemCount < Model.PageSize)
                    {
                    <span>1 </span>
                    <span>- </span>@Model.TotalItemCount
                    }
                    else
                    {
                    <span></span>@((Model.CurrentPageIndex - 1) * Model.PageSize + 1)
                    <span>- </span>@((Model.CurrentPageIndex != Model.TotalPageCount) ? (Model.CurrentPageIndex * Model.PageSize) : Math.Abs((Model.CurrentPageIndex) * Model.PageSize - (Model.PageSize * Model.TotalPageCount) - Model.TotalItemCount))
                    }
                    <span>of </span>@(Model.TotalItemCount)                            
                }
            </div>
        </div>
        <div class="span8">
            <div class="dataTables_paginate paging_bootstrap pagination phantrangmvcpager">
                @Html.AjaxPager(Model, new PagerOptions { ContainerTagName = "ul", PageIndexParameterName = "page", CurrentPagerItemWrapperFormatString = "<li class='active'>{0}</li>", CurrentPageNumberFormatString = "{0}", FirstPageText = "&laquo; ", LastPageText = " &raquo;", NextPageText = "Next →", PrevPageText = "← Prev", SeparatorHtml = "" }, new AjaxOptions { UpdateTargetId = "AjaxPaging" })
            </div>
        </div>
    </div>
</div>
