@model List<ts.ictu.Post>
@using ts.ictu;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cate = (Cate)ViewBag.cate;
    ViewBag.Title = cate.Title;
}
<div class="panel panel-warning">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="row top-buffer" style="overflow: hidden;">
                <div class="title-top-fix abs">
                    @cate.Title</div>
            </div>
        </div>
    </div>
</div>
<!--Danh mục tin-->
@foreach (var item in Model)
{
    <div class="panel panel-warning box-index-news">
        <div class="panel-body">
            <div class="media">
                <a class="pull-left" href="@Url.Action("Details", "Post", new { id = Common.CreateURLParam(item.ID, item.Title) })"
    class="newsHeight" style="height:110px;">
                    <img class="media-object img-thumbnail"
    src="@(item.ImageUrl)" alt="..." style="width:150px;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="@Url.Action("Details", "Post", new { id = Common.CreateURLParam(item.ID, item.Title) })">@Html.Raw(item.Title)</a></h4>
                    <p class="text-description">@Html.Raw(@item.Summary)</p>
                </div>
            </div>
        </div>
    </div>
}