@model ts.ictu.Post
@using ts.ictu;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Title;
    var db = ts.ictu.DB.Entities;
    var cate = db.Cate.FirstOrDefault(m => m.ID == Model.CateID);
    var lstRelate = (List<Post>)ViewBag.lstRelate;
}
<div class="panel-details">
    <div class="title-top-fix">@cate.Title</div>
    <div class="postpadding">
        <h1 class="title">
            @Model.Title
        </h1>
        <p class="date">
            @Model.Created.ToString("dd/MM/yyyy")
        </p>
        <div class="content">
            @Html.Raw(Model.Content)
        </div>
    </div>
    <div class="related-news related-news-top">
        <h3>@cate.Title</h3>
        <ul>
            @foreach (var item in lstRelate)
            {
                <li class="item"><a href="@Url.Action("Details", "Post", new { id = Common.CreateURLParam(item.ID, item.Title) })"
                            title="@item.Title">@item.Title</a></li>
            }
        </ul>
    </div>
</div>
