@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Đăng nhập hệ thống";
}
@model ts.ictu.Models.LogOnModel
<style type="text/css">
    .field-validation-error, .validation-summary-errors, .field-validation-valid
    {
        color: Red;
    }
    ul
    {
        list-style: none;
        padding: 0;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-1">
            &nbsp;</div>
        <div class="col-md-10">
            <div class="panel-details" style="padding: 0 90px 20px 90px; margin-bottom: 200px;">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-login" }))
                {
                    <h3>
                        Đăng nhập hệ thống</h3>
                    @Html.ValidationSummary(true, "Đăng nhập thất bại!")
                    @Html.Hidden("ReturnUrl", Request.QueryString["ReturnUrl"]);
                    <div class="control-group">
                        <label for="UserName">
                            Tên đăng nhập</label>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User name" })
                        @Html.ValidationMessageFor(m => m.UserName, "")
                    </div>
                    <br />
                    <div class="control-group">
                        <label for="Password">
                            Mật khẩu</label>
                        @Html.ValidationMessageFor(m => m.Password, "")
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="RememberMe">
                            Nhớ mật khẩu
                        </label>
                    </div>
                    <div class="control-group">
                        <div class="controls span4">
                            <button type="submit" class="btn btn-primary input-block-level">
                                Đăng nhập</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-1">
            &nbsp;</div>
    </div>
</div>
