@model ts.ictu.mGroup
<h3>
    Add role for: <a href="/Group/UsersInGroup/@Model.ID">@Model.Title</a></h3>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@Html.ValidationSummary(true, "Add role to group unsuccess")
@using (Html.BeginForm("DoRole", "Group", new { groupID = Model.ID }))
{
    <div>
        @Html.Hidden("listCheck", null, new {id="HiddenListRole"})
        <div class="control-group">            
            <label class="control-label">
                Group role</label>
            <div class="controls" id="ListRoles">
                @Html.Raw(ViewBag.listRole)
            </div>
            <input type="submit" value="OK" class="btn btn-primary" id="SubmitRole" />
            @Html.ActionLink("Cancel", "index", null, new { @class = "btn" })
        </div>
    </div>
}