@model List<ts.ictu.Menu>
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>Quản lý menu</h3>
            </div>
            <div class="box-content">
                <p style="margin-left: 7px;">
                    @Html.ActionLink("Thêm Menu", "NewOrEdit", new { id = 0 }, new { @class = "btn btn-primary" })
                </p>
                <table class="table">
                    <thead>
                        <tr class="table-flag-blue">
                            <th>
                                Tên menu
                            </th>
                            <th>
                                Thứ tự
                            </th>
                            <th>
                                Trạng thái
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.ParentID == 0)
                            {
                            <tr>
                                <td>
                                    @Html.ActionLink("- " + item.Title, "NewOrEdit", new { id = item.ID }, null)
                                </td>
                                <td>
                                    @item.Oder
                                </td>
                                <td>
                                    <a href="#" class="IsActive" getID="@item.ID">
                                        @if (item.Activated == true)
                                        { <span>Đã bật</span>}
                                        else
                                        {<span class='validation-summary-errors'>Đã tắt</span>}</a>
                                </td>
                                <td>
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "confirmDelete" })
                                </td>
                            </tr>
                               foreach (var item1 in Model)
                               {
                                   if (item1.ParentID == item.ID)
                                   {                            
                            <tr>
                                <td>
                                    <a href="@Url.Action("NewOrEdit", new { id = item1.ID })">&nbsp;&nbsp;&nbsp;&nbsp;+
                                        @item1.Title</a>
                                </td>
                                <td>
                                    @item.Oder
                                </td>
                                <td>
                                    <a href="#" class="IsActive" getID="@item1.ID">
                                        @if (item1.Activated == true)
                                        { <span>Đã bật</span>}
                                        else
                                        {<span class='validation-summary-errors'>Đã tắt</span>}</a>
                                </td>
                                <td>
                                    @Html.ActionLink("Delete", "Delete", new { id = item1.ID }, new { @class = "confirmDelete" })
                                </td>
                            </tr>
                                   }
                               }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
